// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
	color: white !important;
	background-color: #343a40 !important;
	opacity: 0.5;
}

.navbar .nav-item .dropdown-menu .active{
	color: white !important;
	background-color: #343a40 !important;
}

/*Colores de fondo paleta de colores escuela*/
#color_fondo_pag
{
  background-color: #848C94;
}
#color_inicio_ses
{
  background-color: #EEEEEE
}
#color_boton
{
  background-color: #0474A4;
}
#color_barra_nav
{
  background-color: #7cacac;
}
#color_cuadros_form
{
  background-color: #DDE6E6;
}
/*fin paleta de colores*/

/*estilos para los sub menus*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/*Fin estilos para los sub menus*/


.h-screen{
	height: 100vh;
}

.bg{
  /* The image used */
  //background-image: url("https://cdn.discordapp.com/attachments/442769037554876436/735371010576220220/whanana.jpg");
  //background-image: url("https://cdn.discordapp.com/attachments/712807006670553119/737459140305092738/4abf3db3-b863-4b1c-9b9a-ff8569e837f8.jpg");
  /* Full height */
  height: 100%;
  widht:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

